body > h1, h3 {
  text-align: center;
  margin-top: 20px;
}

#choice-container {
  display: flex;
  justify-content: space-evenly;
}

#choice-container button {
  font-size: 30px;
  border-radius: 40%;
  padding: 10px;
  
  background: #f1f1f1;
}
