/*cose da aggiungere:
- max width nell'header
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: radial-gradient(rgba(0,0,0,0.2), rgba(0,0,0,1)), url(../assets/lumariakingdom.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 70px 0 50px 0;
}

#text-desc {
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(1.6px);
  border: 1px solid #FFF;
  font-size:xx-large ;
}

.container {
  display: flex;
  align-items: center;
  padding: 10px;
  max-width: 1250px;
  margin: 0 auto;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  height: 70px;
  width: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
  padding: 0 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  height: 50px;
  width: 50px;
  margin-right: auto;
}

main {
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 50px - 70px);
  gap: 30px;
  width: 100%;
}

button {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0;
  border: 2px solid #F0F0F0;
  text-transform: uppercase;
  color: #F0F0F0;
  font-size: 1.5rem;
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #0F0F0F;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: 50px;
  width: 100%;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.8);
  gap: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

ul {
  display: flex;
  gap: 5px;
}

li {
  list-style: none;
}
